@font-face {
    font-family: 'latoregular';
    src: url('font/lato-regular-webfont.eot');
    src: url('font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-regular-webfont.woff2') format('woff2'),
         url('font/lato-regular-webfont.woff') format('woff'),
         url('font/lato-regular-webfont.ttf') format('truetype'),
         url('font/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family:'latoregular',helvetica,sans-serif;
	font-size:13px;
	line-height:24px;
	color:#063646;
}
*{
	padding:0px;
	margin:0px;
}
a{
	color:#fff;
}
/*Header-section*/
header{
	background:url("images/bg-header.png")no-repeat;
	background-size:cover;
	height:804px;
	width:100%;
}
.header-container{
	background:#063646;
	height:90px;
	color:#fff;
	border-bottom:2px solid #fff;
}
.header-wrap{
	width:1000px;
	margin:auto;
	border:0px solid;
	height:90px;
}
.header-bottom {
    width: 1000px;
    margin: auto;
    padding-top: 153px;
    text-align: right;
}

.logo{

	padding-top:30px;
	padding-bottom:30px;
	width:310px;
	float:left;
}
.logo h3{
	font-size:36px;
	font-weight:bold;
	text-transform: uppercase;
}
.logo span{
	font-size:28px;
	font-weight:normal;
	text-transform: capitalize;
}
.header-bottom h1{
	font-size:72px;
	font-weight:bold;
	line-height:72px;
}
.header-bottom h2{
  margin-top:24px !important;
  margin:auto;
  width:620px;
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  font-size:28px;
  background:#0C2A42;
  font-weight:normal;
  text-transform: capitalize;
  color:#DAE3E4;
}
.header-bottom h3{
    width:200px;
    margin:auto;
    margin-top:75px !important;
    text-align:center;
    
}
.header-bottom h3 a{
	text-decoration:none;
	text-align: center;
    margin: auto;
    background:#0e6a9a;
    font-size:30px;
    color:#fff;
    text-transform: uppercase;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:25px;
    padding-left:25px;

}
.header-bottom h3 a:hover{
		background:#084e65;
}
.box-title{
	float:right;
	width:640px;
}
nav{
	border:0px solid ;
	float:right;
	width:540px;
}
nav ul{
	list-style:none;
	display:inline;
	border:0px solid;
	float:right;
}
nav ul li{
	display:inline;
	list-style:none;
	line-height:90px;

}
nav ul li a{
	font-size:18px;
	text-decoration:none;
	margin-right:0px;
	padding: 5px 24px;
	font-family:"latoregular";
	font-weight:normal;

}
nav ul li a:hover{
	background:#084e65;
}
/*Container-content*/
.container{
	background:#ebf0f1;

}
.post-content {
    width: 1000px;
    margin: auto;
    text-align: center;
    padding-bottom:40px;
    padding-top:40px;
}
.post-desc{
	width:410px;
	margin:auto;
}
.post-desc h2{
  font-size:36px;
  font-weight:normal;
  text-transform: uppercase;

}
.post-desc p{
	text-align:center;
}
.post-body{
	margin-top:20px;
	font-size:24px;
	line-height:30px;
}
.post-content .button{
	margin-top:45px;
}

.post-content .button a{
	background: #0E6A9A none repeat scroll 0% 0%;
	width: 240px;
	padding: 5px 20px;
	font-size: 28px;
	text-decoration: none;
}
.post-content .button a:hover{
	background:#084e65;
}
.event{
	border:0px solid #000;
	background:#063646;
	clear:both;
}
.post-title-event{
	color:#fff;

}
.media{
	margin-top:30px;
}
.media-image{
	border:2px solid #f5f5f5;
	width:276px;
	height:218px;
	display:inline-block;
	margin-right:50px;
}
.media-title h3{
	color:#c9bcbc;
	font-weight:normal;
	margin-top:10px;
}
.track{
	background:#fff;
}
.track-section {
}
.track-section .media-image{
	border:0px solid #000;
	padding:0px;
	width:400px;
	height:400px;
	display:inline-block;
	margin-right:30px;
	position:relative;
}
.track-section .media-title{
	background: #23547d;
	position:absolute;
	bottom:0px;
	width:400px;
	height:150px;
	font-size:20px;
	color:#fff;
}
.track-section .title-right{
	background:#031f33;
}
.track-section .media-title h3{
	color:#fff;
	margin-bottom:10px;
	margin-top:20px;
}
.track-section .media-title p{
	font-size:16px;

}